---

---

<footer class="flex flex-col outline-solid">
    <div class="flex justify-center">
        <a href="https://github.com/DerFrZocker/anime-calendar-server/discussions" target="_blank"
           class="p-1 mt-3 hover:bg-gray-200 rounded-xs">
            <span>Want To Make This Site Better?</span>
        </a>
    </div>
    <div class="flex flex-wrap justify-evenly mt-3 mb-3">
        <div class="flex-1 text-center min-w-30">
            <a href="https://github.com/DerFrZocker/anime-calendar-server/discussions" target="_blank"
               class="p-1 hover:bg-gray-200 rounded-xs">
                <span>Privacy Policy</span>
            </a>
        </div>
        <div class="flex-1 text-center min-w-30">
            <a href="https://github.com/DerFrZocker/anime-calendar-server/discussions" target="_blank"
               class="p-1 hover:bg-gray-200 rounded-xs">
                <span>Terms Of Use</span>
            </a>
        </div>
        <div class="flex-1 text-center min-w-30">
            <a href="https://github.com/DerFrZocker/anime-calendar-server/discussions" target="_blank"
               class="p-1 hover:bg-gray-200 rounded-xs">
                <span>Imprint</span>
            </a>
        </div>
    </div>
</footer>
