---

---

<header class="flex border-b border-gray-200 p-3">
    <div class="flex-1 mr-8">
        <a href="/" target="_self"
           class="hover:bg-gray-200 p-1 rounded-xs">
            <span>Anime Calendar</span>
        </a>
    </div>
    <div class="flex flex-wrap justify-end">
        <div class="mr-4 ">
            <a href="https://github.com/DerFrZocker/anime-calendar-server/discussions" target="_blank"
               class="hover:bg-gray-200 p-1 rounded-xs">
                <span>Ask A Question</span>
            </a>
        </div>
        <div class="mr-4">
            <a href="https://github.com/DerFrZocker/anime-calendar-server/issues/new" target="_blank"
               class="hover:bg-gray-200 p-1 rounded-xs">
                <span>Report A Bug / Feature</span>
            </a>
        </div>
        <div class="mr-4">
            <a href="https://github.com/DerFrZocker/anime-calendar-server" target="_blank"
               class="hover:bg-gray-200 p-1 rounded-xs">
                <span>GitHub - Backend</span>
            </a>
        </div>
        <div>
            <a href="https://github.com/DerFrZocker/anime-calendar-frontend" target="_blank"
               class="hover:bg-gray-200 p-1 rounded-xs">
                <span>GitHub - Frontend</span>
            </a>
        </div>
    </div>
</header>
