---
import OrderedMultiSelect from "./OrderedMultiSelect.astro";
import OrderedMultiSelectItem from "./OrderedMultiSelectItem.astro";
---

<div class="outline-solid p-8">
    <form>
        <div>
            <label for="myanimelist-username" class="text-md font-bold">MyAnimeList (Must Be Public)</label>
            <input id="myanimelist-username" placeholder="Username" type="text" class="w-full outline-solid mt-2 p-1"/>
        </div>
        <div class="mt-4">
            <OrderedMultiSelect title="Title Language">
                <OrderedMultiSelectItem itemName="English"/>
                <OrderedMultiSelectItem itemName="German"/>
                <OrderedMultiSelectItem itemName="Original"/>
            </OrderedMultiSelect>
        </div>
        <div class="mt-4">
            <OrderedMultiSelect title="Streaming Type">
                <OrderedMultiSelectItem itemName="Subtitles (Sub)"/>
                <OrderedMultiSelectItem itemName="Original (Org)"/>
            </OrderedMultiSelect>
        </div>
        <div class="mt-6">
            <label for="output-url" class="text-md font-bold">Your ICal Url</label>
            <div class="flex mt-2">
                <div class="flex flex-1 outline-solid p-1">
                    <input id="output-url" readonly value="https://api.anime-calendar.com/v3/ical/myanimelist/"
                           class="flex-1 outline-none"/>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#1f1f1f">
                        <path d="M318-120q-82 0-140-58t-58-140q0-40 15-76t43-64l134-133 56 56-134 134q-17 17-25.5 38.5T200-318q0 49 34.5 83.5T318-200q23 0 45-8.5t39-25.5l133-134 57 57-134 133q-28 28-64 43t-76 15Zm79-220-57-57 223-223 57 57-223 223Zm251-28-56-57 134-133q17-17 25-38t8-44q0-50-34-85t-84-35q-23 0-44.5 8.5T558-726L425-592l-57-56 134-134q28-28 64-43t76-15q82 0 139.5 58T839-641q0 39-14.5 75T782-502L648-368Z"/>
                    </svg>
                </div>
                <button type="button" id="copy-output-url" title="Copy To Clipboard"
                        class="ml-2 hover:bg-gray-200 p-1 outline-solid rounded-xs">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#1f1f1f">
                        <path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/>
                    </svg>
                </button>
            </div>
        </div>

    </form>
    <div class="mt-8">
        <div class="flex justify-center">
            <span class="text-center font-bold text-md">Add To</span>
        </div>
        <div class="flex flex-wrap justify-evenly mt-3 mb-3">
            <div class="flex-1 text-center min-w-22">
                <a href="https://support.apple.com/en-us/102301" target="_blank"
                   class="hover:bg-gray-200 p-1 rounded-xs">
                    <span>Apple</span>
                </a>
            </div>
            <div class="flex-1 text-center min-w-22">
                <a href="https://support.google.com/calendar/answer/37100" target="_blank"
                   class="hover:bg-gray-200 p-1 rounded-xs">
                    <span>Google</span>
                </a>
            </div>
            <div class="flex-1 text-center min-w-22">
                <a href="https://icsx5.bitfire.at/usage/" target="_blank"
                   class="hover:bg-gray-200 p-1 rounded-xs">
                    <span>ICSx⁵</span>
                </a>
            </div>
            <div class="flex-1 text-center min-w-22">
                <a href="https://docs.nextcloud.com/server/19/user_manual/pim/calendar.html#subscribe-to-a-calendar" target="_blank"
                   class="hover:bg-gray-200 p-1 rounded-xs">
                    <span>Nextcloud</span>
                </a>
            </div>
            <div class="flex-1 text-center min-w-22">
                <a href="https://proton.me/support/subscribe-to-external-calendar" target="_blank"
                   class="hover:bg-gray-200 p-1 rounded-xs">
                    <span>Proton</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function rebuild() {
        let username = document.getElementById('myanimelist-username')?.value;

        document.getElementById('output-url').value = `https://api.anime-calendar.com/v3/ical/myanimelist/${username}`;
    }

    document.getElementById('myanimelist-username')?.addEventListener("keyup", rebuild);
</script>
